.main-nav {
  align-self: flex-end;
}

.main-nav > ul {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  justify-items: flex-end;
}

.main-nav > ul > li {
  margin-left: calc(var(--gutter)*2);
}

.main-nav > ul > li:first-of-type {
  margin-left: 0;
}

.main-nav > ul > li > a {
  text-decoration: none;
  color: var(--color-white);

  font-weight: 600;
}

.main-nav > ul > li > a:after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: transparent;

  margin: calc(var(--gutter)/2) auto;
}

.main-nav > ul > li > a:hover:after {
  background: var(--color-white);
}

@media (max-width: 768px) {
  body.nav-isopen .main-nav {
    transform: scaleY(1);
  }
  .main-nav {    
    background: rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transform-origin: top center;

    transition: all 268ms ease-out 0s;
  } 

  .main-nav > ul {    
    margin-top: calc(var(--gutter)*2);
  } 

  .main-nav > ul {    
    flex-direction: column;
    justify-items: center;
  }  

  .main-nav > ul > li {
    width: 100%;
    margin-left: 0;
  }

  .main-nav > ul > li > a {
    display: block;
    text-align: center;

    padding: calc(var(--gutter)) 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .main-nav > ul > li > a:hover {
    background: rgba(255, 255, 255, 1);
    color: var(--color-blue);
  }

  .main-nav > ul > li > a:after {
    display: none;
  }
}